<p>demo works!</p>

<div>

    <table>
        <thead>
            <tr>
                <th>pid</th>
                <th>email</th>
                <th>name</th>
                <th>mobno</th>
                <th>address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of parents">
                <td>{{p.pid}}</td>
                <td>{{p.email}}</td>
                <td>{{p.name}}</td>
                <td>{{p.mobno}}</td>
                <td>{{p.address}}</td>
            </tr>
        </tbody>
    </table>
</div>