<ul class="list-inline">
    <li class="list-inline-item">
        <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
            <i class="fa fa-facebook"></i>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
            <i class="fa fa-twitter"></i>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
            <i class="fa fa-skype"></i>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
            <i class="fa fa-google"></i>
        </a>
    </li>
</ul>


<div class="login" style="text-align: right">
    <button class="loginbtn" routerLink="Login" >LogIn</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="signup">SignUp</button>
</div>


<body style="text-align: center;">

    <div class="s">
        <a>
            <h1 class="b">Tutor Finder System</h1>
        </a>

    </div>
    <nav class="fonts">
        <a class="a" style="color: black;" routerLink="dashboard">Home</a> &nbsp;&nbsp;&nbsp;

        <a class="a" style="color: rgb(12, 6, 6);" routerLink="aboutus">About Us</a>&nbsp;&nbsp;&nbsp;

        <a class="a" style="color: black;" routerLink="contactus">Contact Us</a>&nbsp;&nbsp;&nbsp;


    </nav>
    <router-outlet></router-outlet>
</body>