<h1>shubham</h1>
<div class="login" style="text-align: right">
    <button class="loginbtn">LogIn</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="signup">SignUp</button>



    <body>

        <div class="s" style="text-align: center;">
            <button class="mainbtn" mat-fab>Tutor Finder</button>

        </div>
        <nav style="text-align: center;" class="fonts">
            <a style="color: black;" routerLink="dashboard">Home</a> &nbsp;&nbsp;&nbsp;

            <a style="color: rgb(12, 6, 6);" routerLink="aboutus">About Us</a>&nbsp;&nbsp;&nbsp;

            <a style="color: black;" routerLink="contactus">Contact Us</a>&nbsp;&nbsp;&nbsp;


        </nav>
        <router-outlet></router-outlet>
    </body>