<body>

  <div class="s">
    <h1>Mini Project</h1>
  </div>
  <nav>
    <a style="color: black;" routerLink="dashboard">Register</a> &nbsp;&nbsp;&nbsp;

    <a style="color: black;" routerLink="aboutus">About Us</a>&nbsp;&nbsp;&nbsp;

    <a style="color: black;" routerLink="contactus">Contact Us</a>&nbsp;&nbsp;&nbsp;

    <a style="color: black;" routerLink="companyDetails">Company Details</a>&nbsp;&nbsp;&nbsp;

    <a style="color: black;" routerLink="employeeDetails">Employee Details</a>&nbsp;&nbsp;&nbsp;


  </nav>
  <router-outlet></router-outlet>
</body>